# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
env/
*.sqlite3

# Django
*.log
Doc/
staticfiles/
collected_static/

# IDEs
.vscode/
.idea/

# Tests & Coverage
.coverage
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Docker
*.pid
docker-compose.override.yml

# Data bases
*.db
*.sqlite
*.sqlite3

# Others
*.DS_Store
ai_agent/Logs/
