Django>=4.2,<5.0
djangorestframework
python-dotenv
psycopg2-binary
dj-database-url
celery
apscheduler
openai
jinja2
whitenoise
pytest
pytest-django
pytest-cov
anyio
requests
O365
django-cors-headers
django-rest-passwordreset
argon2
gunicorn